<% layout('layouts/boilerplate') %>

<div class="row">
	<h1 class="text-center">Login</h1>
	<div class="col-lg-5 col-md-6 col-sm-8 ms-auto me-auto card py-4 px-4">
		<% if (loggedInUser) { %>
		<a href="/auth/logout" class="btn btn-primary">Logout</a>
		<% } else { %>
		<form
			action="/auth/login"
			method="POST"
			novalidate
			class="validate-form mb-2"
		>
			<div class="mb-3 form-group">
				<label class="form-label" for="email">Email:</label>
				<input
					class="form-control"
					type="email"
					name="email"
					id="email"
					placeholder="jDoe@email.com"
					required
				/>
			</div>
			<div class="mb-3 form-group">
				<label class="form-label" for="password">Password:</label>
				<div class="password-input-group">
					<input
						class="form-control password-input"
						type="password"
						name="password"
						id="password"
						placeholder="password"
						required
					/>
					<i class="far fa-eye password-eye-con text-muted"></i>
				</div>
			</div>
			<div class="login-local">
				<div class="login-options">
					<button class="btn btn-primary me-2">Login</button>
					<a href="/auth/password/reset/request" class="password-recovery"
						>Forgot password?</a
					>
				</div>
				<a href="/auth/register" class="btn btn-danger">Register</a>
			</div>
		</form>
		<!-- <div class="login-oauth">
      <div class="login-divider"></div>
			<div class="mt-2 mb-2">
        <a href="/auth/google" class="btn btn-google"></a>
      </div>
		</div> -->
		<% } %>
	</div>
</div>
