<% layout('layouts/boilerplate') %>

<div class="row">
	<h1 class="text-center">Register</h1>
	<div class="col-lg-6 col-md-8 ms-auto me-auto card py-4 px-4">
		<% if (loggedInUser) { %>
		<a href="/auth/logout" class="btn btn-primary">Logout</a>
		<% } else { %>
		<form
			action="/auth/register"
			method="POST"
			novalidate
			class="validate-form"
		>
			<div class="mb-3 form-group">
				<label class="form-label" for="email">Email:</label>
				<input
					class="form-control"
					type="email"
					name="newUser[email]"
					id="email"
					placeholder="jDoe@email.com"
					required
				/>
			</div>
			<div class="mb-3 form-group">
				<label class="form-label" for="displayName">Profile Name:</label>
				<input
					class="form-control"
					type="text"
					name="newUser[displayName]"
					id="profileName"
					placeholder="J. Doe"
					required
				/>
			</div>
			<div class="mb-3 form-group">
				<label class="form-label" for="password">Password</label>
				<input
					class="form-control"
					type="password"
					name="newUser[password]"
					id="password"
					placeholder="password"
					required
				/>
        <p class="text-muted text-xsmall mt-1 mb-0">Must be a minimum of 8 characters, and contain at least:</p>
        <p class="text-muted text-xsmall mb-0">- an uppercase and a lowercase letter.</p>
        <p class="text-muted text-xsmall mb-0">- a number and a special charcter [!@$%&*?].</p>
      </div>
			<div class="mb-3 form-group">
				<label class="form-label" for="confirmPass">Confirm</label>
				<input
					class="form-control"
					type="password"
					name="newUser[confirmPass]"
					id="confirmPass"
					placeholder="re-type password"
					required
				/>
			</div>
			<div class="d-flex align-items-end">
				<button class="btn btn-primary me-3">Register</button>
				or
				<a href="/auth/login" class="ms-3">Login</a>
			</div>
		</form>
		<% } %>
	</div>
</div>
