<% layout('layouts/boilerplate') %>

<div class="row">
	<h1 class="text-center">Reset Password</h1>
	<div class="col-lg-5 col-md-6 col-sm-8 ms-auto me-auto card py-4 px-4">
		<form
			action="/auth/password/reset"
			method="POST"
			novalidate
			class="validate-form mb-2"
		>
			<div class="mb-3 form-group">
				<p>Please enter the email address associated with your account below:</p>
				<input
					class="form-control"
					type="email"
					name="email"
					id="email"
					placeholder="jDoe@email.com"
					required
				/>
			</div>
      <button class="btn btn-primary me-2">Submit</button>
		</form>
	</div>
</div>