<% layout('layouts/boilerplate') %> 

<h1>All Lists</h1>
<ul>
    <% for (let list of lists) { %> 
        <li><a href="/lists/<%= list._id %> "><%= list.title %> </a></li>
    <% } %> 
</ul>
<a href="/lists/new">New List</a>
