<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center"><%= list.title %></h1>
    <div class="col-lg-5 col-md-6 ms-auto me-auto">
        <form action="/lists/<%= list._id %>/items" method="POST">
            <label class="form-label" for="description">Description</label>
            <input
                class="form-control mb-3"
                type="text"
                name="item[description]"
                id="description"
                required
            />
            <label class="form-label" for="link">Link</label>
            <input
                class="form-control mb-3"
                type="text"
                name="item[link]"
                id="link"
            />
            <button type="submit" class="btn btn-primary col-sm-12">
                Add Item
            </button>
        </form>
        <div class="mt-1">
            <a href="/lists/<%= list._id %>" class="btn btn-secondary col-sm-12 mt-1"
                >Cancel</a
            >
        </div>
    </div>
</div>