<% layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/styles/lists.css">

<div class="row">
    <h1 class="text-center">Add a new list</h1>
    <div class="col-lg-5 col-md-6 ms-auto me-auto">
        <form action="/lists" method="POST" novalidate class="validate-form">
            <div class="mb-3 form-group">
                <label class="form-label" for="title">Title</label>
                <input 
                class="form-control" 
                type="text" 
                name="list[title]" 
                id="title"
                placeholder="List Title"
                required
            >
            </div>
            <p class="mb-1">Items:</p>
            <div class="card mb-3">
                <div class="card-body items-input-content">
                    <div class="item-input-group">
                        <label class="form-label" for="item">Name or Description</label>
                        <input 
                            type="text" 
                            name="list[items][0][description]" 
                            id="item"
                            class="form-control"
                            placeholder="enter description"
                            required
                        >
                        <label class="form-label mt-3" for="link">Link</label>
                        <input 
                            type="text" 
                            name="list[items][0][link]" 
                            id="link"
                            class="form-control"
                            placeholder="enter link"
                        >
                    </div>
                </div>
                <div class="mb-3 item-btns">
                    <a href="#" class="btn btn-secondary ms-3 mt-2 add-item">
                        Add Another
                    </a>
                    <a href="#" class="btn btn-danger ms-3 mt-2 cancel-item hidden">
                        Cancel
                    </a>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Create List</button>
                <a href="/lists" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validate-form')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

<script src="/js/lists.js"></script>

