<% layout('layouts/boilerplate') %> 

<h1>Add a new list</h1>
<form action="/lists" method="POST">
    <div>
        <label for="title">Title: </label>
        <input type="text" name="list[title]" id="title">
    </div>
    <button type="submit">Create List</button>
    <a href="/lists">Back</a>
</form>
