<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">Add a new list</h1>
    <div class="col-md-4 offset-md-4">
        <form action="/lists" method="POST">
            <div class="mb-3 form-group">
                <label class="form-label" for="title">Title</label>
                <input 
                class="form-control" 
                type="text" 
                name="list[title]" 
                id="title"
                placeholder="List Title"
            >
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Create List</button>
                <a href="/lists" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>


