<div class="row hidden" id="change-password">
    <div class="col-lg-5 col-md-6 ms-auto me-auto">
        <div class="card">
            <h4 class="card-title text-center mt-3">Password Update</h4>
            <div class="card-body">
                <form action="/users/<%= currentUser._id %>/edit?_method=PUT" method="POST" novalidate class="validate-form">
                    <div class="mb-3 form-group">
                        <label class="form-label" for="password">Current Password</label>
                        <input 
                        class="form-control" 
                        type="password" 
                        name="password[current]" 
                        id="currentPassword"
                        placeholder="current password"
                        required
                        >
                    </div>
                    <div class="mb-3 form-group">
                        <label class="form-label" for="password">New Password</label>
                        <input 
                        class="form-control" 
                        type="password" 
                        name="password[new]" 
                        id="newPassword"
                        placeholder="new password"
                        required
                    >
                    </div>
                    <div class="mb-3 form-group">
                        <label class="form-label" for="confirmPass">Confirm New Password</label>
                        <input 
                        class="form-control" 
                        type="password" 
                        name="password[confirm]" 
                        id="newPassConfirm"
                        placeholder="re-type password"
                        required
                    >
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                    <a href="" class="btn btn-warning">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>