<link rel="stylesheet" href="/styles/navbar.css">

<nav class="navbar sticky-top navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <% if(loggedInUser) { %> 
      <a class="navbar-brand" href="/users/<%= loggedInUser._id %>">
      <% } else { %> 
      <a class="navbar-brand" href="/">
      <% } %> 
      <img
        src="https://www.clipartmax.com/png/full/16-167073_cartoon-santa-hat-clip-art-santa-hat-with-face.png"
        alt="logo"
        height="42"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/lists">Lists</a>
        <a class="nav-link" href="/parties">Parties</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if (loggedInUser) { %> 
          <a class="nav-link" href="/users/<%= loggedInUser._id %>">
            <%= loggedInUser.displayName %> 
          </a>
        <% } %>
        <% if(loggedInUser) { %>
          <a class="nav-link" href="/auth/logout">Logout</a>
        <%} else { %> 
          <a class="nav-link" href="/auth/login">Login</a>
          <a class="nav-link" href="/auth/register">Register</a>
        <% } %> 
      </div>
    </div>
  </div>
</nav>