<% layout('layouts/boilerplate') %>

<h1 class="text-center">All Groups</h1>
<div class="col-md-12">
    <div class="row">
        <% for (const group of groups) { %>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title"><%= group.title %></h4>
                        <p>Join by: </p>
                        <p>End Date: </p>
                        <p>Participants: </p>
                        <p>Creator: </p>
                        <a href="/groups/<%= group._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>
