<% layout('layouts/boilerplate') %>


<div class="col-md-5 ms-auto">
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title"><%= group.title %></h4>
            <p>Days remaing: ...</p>
            <a href="/groups/<%= group._id %>" class="btn btn-primary">View</a>
            <p class="text-muted">num members, creator</p>
        </div>
    </div>
</div>
