@import url("https://fonts.googleapis.com/css2?family=Petemoss&display=swap");
body{ 
    font-family: 'Petemoss', cursive;
    font-size: 32px;
    /* background-image: url('../assets/home1-min.png');
    background-size: cover;
    background-repeat: no-repeat; */
}

nav{
    letter-spacing: 2px;
}

p {
    margin-bottom: 0;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: capitalize;
}

.bg-home-mobile {
    height: 95vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
    z-index: -100;
}
.bg-home-desktop {
    position: absolute;
    top: 30px;
    left: 0;
    height: 97vh;
    max-width: 100%;
    position: absolute;
    z-index: -99;
}

.btn-login {
    position: absolute;
    top:90%;
    left: 50%;
    padding: 0 30px;
    font-size: 48px;
    letter-spacing: 8px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 25px;
    transform: translateX(-50%);
    box-shadow: inset 0px 0px 15px rgb(102, 76, 161);
    border: 1px solid rgba(102, 76, 161, 0.418);
    color: #502a86;
}

@media screen and (max-width: 900px) {
    .btn-login {
        top:77%;
    }
    .bg-home-desktop {
        display: none;
    };
}