@import url("https://fonts.googleapis.com/css2?family=Petemoss&display=swap");
body {
	font-family: "Petemoss", cursive;
	font-size: 32px;
}

.title {
  margin-top: 50px;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 4px;
}

.btn-login {
  margin-top: 50px;
	padding: 0 20px;
	font-size: 38px;
	letter-spacing: 8px;
	font-weight: bold;
	background-color: aliceblue;
	border-radius: 25px;
	box-shadow: inset 0px 0px 15px rgb(102, 76, 161);
	border: 1px solid rgba(102, 76, 161, 0.418);
	color: #502a86;
}

.countdown-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown-text {
  margin: 0;
  font-size: 38px;
  letter-spacing: 3px;
}

#countdown-clock {
  margin: 0;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 3px;
}

.footer {
  background-color: #146B3A;
  color: aliceblue;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 48px;
  }

  .countdown-content {
    transform: translate(-50%, -25%);
  }

  .countdown-text {
    margin-bottom: 0;
    font-size: 32px;
  }

  #countdown-clock {
    width: 100vw;
    font-size: 38px;
  }
}