@import url("https://fonts.googleapis.com/css2?family=Petemoss&display=swap");
body{ 
    font-family: 'Petemoss', cursive;
    font-size: 32px;
    background-image: url('../assets/showPageBG2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    letter-spacing: 2px;
}

p {
    margin-bottom: 0;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: capitalize;
}

@media screen and (max-width: 900px) {
    body {
        background-image: url('../assets/homeBGmobile.jpg');
    }
}