@import url("https://fonts.googleapis.com/css2?family=Petemoss&display=swap");

/* body {
    background-image: url('/assets/home-main-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.card {
    border-color: slategrey;
}

.date-full {
    font-weight: bold;
}

.text-small {
    font-size: .9rem;
}

.icon-present {
    height: 24px;
    width: 24px;
}

.hidden {
    display: none;
}

.btn-primary {
    background-color: #7655a5;
}
