@import url("https://fonts.googleapis.com/css2?family=Petemoss&display=swap");

form :invalid {
  border: 2px solid lightgray;
}

.card {
	border-color: slategrey;
}

.date-full {
	font-weight: bold;
}

.text-small {
	font-size: 0.9rem;
}

.text-xsmall {
  font-size: 0.8rem;
}

.icon-present {
	height: 24px;
	width: 24px;
}

.hidden {
	display: none;
}

#avatar-box {
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  background-color: cyan;
}
#avatar-profile {
  height: 150px;
}


/* ------- LOGIN -------- */
.login-local {
  display: flex;
  justify-content: space-between;
}

.login-options {
  display: flex;
  align-items: flex-end;
}
.password-recovery {
  font-size: .9rem;
}

.login-divider {
  margin: 10px auto;
  margin-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  text-align: center;
}

.btn-google {
  width: 195px;
  height: 50px;
  background-image: url('/assets/btn_google_signin_dark_normal_web.png');
}
.btn-google:hover {
  background-image: url('/assets/btn_google_signin_dark_focus_web.png');
}
.btn-google:active {
  background-image: url('/assets/btn_google_signin_dark_pressed_web.png');
}

.footer {
  background-color: #146B3A;
  color: aliceblue;
}