@import url("https://fonts.googleapis.com/css2?family=Petemoss&display=swap");

.card {
    border-color: slategrey;
}

.date-full {
    font-weight: bold;
}

.text-small {
    font-size: .9rem;
}

.icon-present {
    height: 24px;
    width: 24px;
}

.hidden {
    display: none;
}
