<div
	class="modal fade"
	id="delete-profile"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content text-center">
			<div class="modal-header">
				<h4 class="modal-title" id="staticBackdropLabel">
					Delete Confirmation
				</h4>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<h5>Important!</h5>
				<p class="fst-bold">
					All lists and parties associated with this profile will also be
					deleted.
				</p>
				<p>
					Please type <span class="fst-italic">'delete me'</span> below if you
					wish to proceed:
				</p>
				<input
					type="text"
					class="form-control"
					placeholder="enter 'delete me' here"
					id="confirm-delete"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-bs-dismiss="modal">
					Cancel
				</button>
				<button type="button" class="btn btn-danger" id="btn-delete">
					Confirm
				</button>
			</div>
		</div>
	</div>
	<form
		action="/users/<%= loggedInUser._id %>?_method=DELETE"
		method="POST"
		class="hidden"
		id="delete-user"
	>
  </form>
</div>
